<section data-ng-controller="SwatchesController" data-ng-init="findOne()">
  <!-- <div class="page-header">
    <h1>Edit Swatch</h1>
  </div> -->
  <div layout='row'>
    <md-content layout-padding flex=25 class='edit-fields'>
      <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
          <md-input-container flex required>
            <label>Title</label>
            <input ng-model="swatch.title">
          </md-input-container>
          <md-input-container flex>
            <label>Description</label>
            <input ng-model="swatch.description">
          </md-input-container>
          <div layout='row' class='create-slider-container'>
            <div class='create-slider-group'>
              <h2>{{swatch.importance}}</h2>
              <h3 class="md-body-1">Importance</h3>
              <md-slider flex ng-model="swatch.importance" title='importance' value='swatch.importance' step="1" min="0" max="100" aria-label="importance" class='create-slider'></md-slider>
            </div>
            <div class='create-slider-group'>
              <h2>{{swatch.urgency}}</h2>
              <h3 class="md-body-1">Urgency</h3>
              <md-slider flex ng-model="swatch.urgency" title='urgency' value='swatch.urgency' step="1" min="0" max="100" aria-label="urgency" class='create-slider'></md-slider>
            </div>
          </div>
          <div class='advanced-settings' ng-init='var showAdvanced = false;' ng-click='showAdvanced = !showAdvanced;'>
            <h3>Advanced settings </h3>
            <i class='material-icons' ng-if='!showAdvanced'>arrow_drop_down</i>
            <i class='material-icons' ng-if='showAdvanced'>arrow_drop_up</i>
          </div>
          <div id='advanced' ng-show='showAdvanced'>
            <md-switch ng-model="swatch.completed" aria-label="Completed">
              <span ng-if='!swatch.completed'>Not </span>Completed
            </md-switch>
            <md-datepicker ng-model="due_date" md-min-date="minDate" md-placeholder='Due Date'></md-datepicker>
          </div>
          <div class='submit-button'>
            <md-button class="md-raised" type='submit'>Save Changes</md-button>
            <md-button class="md-raised md-warn"><a ng-href="/swatches">Cancel</a></md-button>
          </div>
          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </md-content>
    <div flex=50>
      <md-content class='md-padding swatch-full-container'>
        <a class='view-link'>
          <md-card class='swatch-full'>
            <div class="swatch-full-color" style="background-color:{{calcColor(swatch.urgency, swatch.importance)}}"></div>
            <md-card-content class='swatch-full-content'>
              <h2 class='md-title swatch-full-title'>{{swatch.title}}</h2>
              <p class='swatch-full-description'>
                {{swatch.description}}
              </p>
            </md-card-content>
          </md-card>
        </a>
      </md-content>
      <div class="delete-button">
        <md-button class="md-raised md-warn" ng-click='remove();'>Delete Swatch</md-button>
      </div>
    </div>
    <div flex=25 class='swatch-comments'>
      <div class="swatch-comment-wrapper">
        <h5>Comments</h5>
        <md-card class='swatch-comment' ng-repeat='comment in swatch.comments' ng-init='counter=0'>
          <md-card-content ng-init='index = $parent.counter; $parent.counter++'>
            <p class='swatch-comment-date'>{{comment.created | date : MMMddyy}}</p>
            <p class='swatch-comment-body'>{{comment.body}}</p>
          </md-card-content>
          <div class="md-actions" layout='row' layout-align='end center'>
            <!-- <md-button>Edit</md-button> -->
            <md-button class='md-warn' ng-click='swatch.comments.splice(index, 1)'>Delete</md-button>
          </div>
        </md-card>
      </div>
      <md-card class='swatch-comment add-comment'>
        <md-card-content>
          <md-input-container flex>
            <label>Comment</label>
            <textarea columns="1" ng-model='newcomment.body'></textarea>
          </md-input-container>
        </md-card-content>
        <div class="md-actions" layout='row' layout-align='end center'>
          <md-button ng-click='newcomment.created = Date.now(); newcopy = newcomment; swatch.comments.push(newcopy); newcomment = "";'>Add</md-button>
        </div>
      </md-card>
    </div>
  </div>
</section>
