<section data-ng-controller="SwatchesController" data-ng-init="find()">
  <div layout='row'>
    <div flex=20>
      <div class='nav-list-container'>
        <md-input-container md-no-float class='list-search'>
          <md-icon><i class='material-icons'>search</i></md-icon>
          <input type="text" placeholder="Search" ng-model='searchText'>
        </md-input-container>
        <md-input-container>
          <label>Sort</label>
          <md-select ng-model="sort">
            <md-option value="-priority">Priority</md-option>
            <md-option value="-urgency">Urgency</md-option>
            <md-option value="-importance">Importance</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Show</label>
          <md-select ng-model="show">
            <md-option value=0>Ongoing</md-option>
            <md-option value=1>Completed</md-option>
            <md-option value="all">All</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>

    <div class="list-container" flex=50>

      <div class="alert alert-warning text-center" data-ng-hide="has_swatches">
        No Swatches yet, why don't you <a href="/#!/swatches/create">create one</a>?
      </div>

      <div class="animated bounceInUp">
        <div data-ng-repeat="swatch in swatches | orderBy: sort | filter: searchText" ng-if='view === "list"' >
          <!-- data-ng-show="authentication.user._id == swatch.user._id" -->
          <md-content class='md-padding swatch-list-container' ng-if='show === "all" || show == swatch.completed' ng-click='$parent.$parent.$parent.focus = $parent.$parent.swatch'>
            <a class='view-link'>
              <md-card class='swatch-list'>
                <div class="swatch-list-color" style='background-color: {{swatch.color}};'></div>
                <md-card-content class='swatch-list-content'>
                  <h2 class='md-title swatch-list-title'>{{swatch.title}}</h2>
                  <p class='swatch-list-description'>
                    {{swatch.description}}
                  </p>
                </md-card-content>
              </md-card>
            </a>
          </md-content>
        </div>

        <span data-ng-repeat="swatch in swatches | orderBy: sort | filter: searchText" ng-if='view === "grid"'>
          <!-- data-ng-show="authentication.user._id == swatch.user._id" -->
          <md-content class='md-padding swatch-grid-container' ng-if='show === "all" || show == swatch.completed' ng-click='$parent.$parent.$parent.focus = $parent.$parent.swatch'>
            <a class='view-link'>
              <!--
              Add this to take you to the view-swatch view, and eventually edit-swatch
              data-ng-href="/#!/swatches/{{swatch._id}}" -->
              <md-card class='swatch-grid'>
                <div class="swatch-grid-color" style='background-color: {{swatch.color}};'></div>
                <md-card-content class='swatch-grid-content'>
                    <h2 class="swatch-grid-title">{{swatch.title}}</h2>
                    <p class="swatch-grid-description">{{swatch.description}}</p>
                </md-card-content>
              </md-card>
            </a>
          </md-content>
        </span>
      </div>

    </div>
    <div flex=25>
      <md-content class='md-padding focus-list-container'>
        <md-card class="focus-list animated fadeInRight" ng-show='focus !== null'>
          <div class="focus-header" style='background-color: {{focus.color}};'>
            <!-- <div class="focus-header-icons">
              <i class='material-icons' ng-if='!focus.completed' ng-click='focus.completed = true; updateFocus();'><a href="#">check</a></i>
              <i class='material-icons' ng-if='focus.completed' ng-click='focus.completed = false'><a href="#">clear</a></i>
              <i class='material-icons' ng-click='remove(focus); focus = null' ><a href="#">delete</a></i>
              <i class='material-icons'><a href="/#!/swatches/{{focus._id}}/edit">edit</a></i>
            </div> -->
          </div>
          <md-card-content>
            <h1 class='focus-title'>{{focus.title}}</h1>
            <p class='focus-description'>{{focus.description}}</p>
            <div class="focus-piu">
              <div layout='row'>
                <div flex>
                  {{focus.priority | number : 1}}
                </div>
                <div flex>
                  {{focus.importance}}
                </div>
                <div flex>
                  {{focus.urgency}}
                </div>
              </div>
              <div layout='row'>
                <div flex class='piu'>
                  P
                </div>
                <div flex class='piu'>
                  I
                </div>
                <div flex class='piu'>
                  U
                </div>
              </div>
            </div>
            <div class="focus-vitals">
              <h4>Created on</h4>
              <p>
                {{focus.created | date : MMMddyy}}
              </p>
              <h4>Completed</h4>
              <p>
                {{focus.completed}}
              </p>
              <h4>Color</h4>
              <p>
                {{focus.color}}
              </p>
            </div>
            <i class='material-icons'><a href="/#!/swatches/{{focus._id}}/edit">edit</a></i>
          </md-card-content>
        </md-card>
      </md-content>
    </div>
  </div>
  <md-fab-speed-dial md-direction="up" class="md-fling list-view-fab">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab">
        <md-tooltip md-direction="right">View</md-tooltip>
        <md-icon><i class='material-icons'>menu</i></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <div>
        <md-button aria-label="Large" class="md-fab md-raised md-mini" ng-click='view = "list"'>
          <md-tooltip md-direction="right">List</md-tooltip>
          <md-icon><i class='material-icons'>view_day</i></md-icon>
        </md-button>
      </div>
      <div>
        <md-button aria-label="Large" class="md-fab md-raised md-mini" ng-click='view = "grid"'>
          <md-tooltip md-direction="right">Grid</md-tooltip>
          <md-icon><i class='material-icons'>view_comfy</i></md-icon>
        </md-button>
      </div>
    </md-fab-actions>
  </md-fab-speed-dial>
</section>
