.edit-fields {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-header {
  margin-top: -2%;
}

.submit-button {
  text-align: center;
}

.submit-button a {
  color: rgba(255, 255, 255, 0.87);
}

.swatch-comments {
  max-height: 80vh;
  overflow-y: scroll;
}
