<section data-ng-controller="HomeController">
	<section class='home-wrapper'>
		<div class="home-hero" layout='flex'>
			<div class='home-header'>
				<h1 >Color-code your life.</h1>
				<p>
					Start managing your tasks based on importance and urgency.
				</p>
			</div>
			<div class='home-swatch'>
				<md-content class='md-padding example-swatch-container'>
					<md-card class='swatch-list example-swatch'>
						<div class="swatch-list-color" style='background-color: hsla(-92.5, 100%, 48%, 1);'></div>
						<md-card-content class='swatch-list-content example-swatch-list-content'>
							<h2 class='md-title swatch-list-title'>Return library books</h2>
							<p class='swatch-list-description'>
								lmao
							</p>
						</md-card-content>
					</md-card>
				</md-content>
				<p>Priority: 114.8, Importance: 63, Urgency: 96</p>
			</div>
		</div>
		<!-- <div class="learn-more">
			<p>
				Learn more
			</p>
			<i class='material-icons'>keyboard_arrow_down</i>
		</div>
	</section>
	<section class='explainer-wrapper'>
		<div class="explainer-subsection">
			<h2>Prioritize, Prioritize, Prioritize</h2>
			<p>
				Start by assigning every task in your to-do list an urgency and importance, represented by a number between 0 and 100.
			</p>
		</div>
		<div class="explain-subsection">
			<h2>Color Me Organized</h2>
			<p>
				Every task is generated a priority based on its importance and urgency, and is given a color to reflect that priority.
			</p>
		</div> -->
	</section>
</section>
