<div data-ng-controller="AuthenticationController">
	<h3 class="sign-header">sign in with email</h3>
	<div class="">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<md-input-container flex>
					<label>Username</label>
					<input type='text' id='username' name='username' ng-model="credentials.username">
				</md-input-container>
				<md-input-container flex>
					<label>Password</label>
					<input type='password' id='password' name='password' ng-model="credentials.password">
				</md-input-container>
				<div class="text-center form-group">
					<md-button type="submit" class="md-raised">Sign in</md-button>
					&nbsp; or&nbsp;
					<a data-ui-sref="authentication.signup">Sign up</a>
				</div>
				<div class="forgot-password">
					<a data-ui-sref="password.forgot">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
